[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "pesel"]
	path = pesel
	url = https://github.com/psobczyk/pesel
[submodule "varclust"]
	path = varclust
	url = https://github.com/psobczyk/varclust
